body {
  font-family: 'Arial', 'san-serif';
  margin: 50px; }
  body .wrapper {
    width: 750px;
    margin: 0 auto;
    border: 1px solid lightgrey;
    padding: 20px; }

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  nav ul li {
    display: inline; }
nav a {
  display: block;
  width: 60px; }

.center {
  margin: 0 auto; }

.fl {
  float: left; }

.fr {
  float: right; }

.fullwidth {
  width: 100%; }

.halfwidth {
  width: 50%; }

.link {
  cursor: pointer;
  color: blue;
  text-decoration: underline; }

.ta-c {
  text-align: center; }
