<!doctype html>
<html lang="en" ng-app="searchApp">
	<head>
		<meta charset="utf-8">
		<title>MTT Search</title>
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="stylesheet" href="js/libs/angular-ui/angular-ui.css">
		<link rel="stylesheet" href="css/styles.css">
		<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>
	<body ng-controller="searchCtrl">
		<header class="wrapper">
			<nav>
				<ul>
					<li>Home</li>
					<li>Item1</li>
					<li>Item2</li>
				</ul>
			</nav>
		</header>

		<div class="wrapper">
			<h4>Search</h4>
			<input type="text" ng-model="searchInput" class="halfwidth center" autofocus=""><button ng-click="search()">Search</button>
			<!--<p ng-bind="searchInput"></p>-->

			<p ng-show="loading">Loading...</p>

			<!--<div>Response: {{response}}</div>-->
			<div ng-show="result_report"><span ng-bind-html="result_report"></span></div><br>
			<small ng-show="did_you_mean">Did you mean: <span ng-repeat="d in did_you_mean" class="link"><strong><span ng-bind-html="d.name" ng-click="searchLink(d.link)"></span></strong><br></span></small>

			<h4 ng-show="results">Results:</h4>
			<div ng-show="results" ng-repeat="r in results" class="result">
				<p ng-if="r.num > 0">
					<strong><a ng-href="{{r.link}}"><span ng-bind-html="r.title"></span></a></strong><br>
					<span ng-bind-html="r.description"></span><br>
					<small ng-bind-html="r.weight"></small> | <small ng-bind-html="r.size"></small> | <a ng-href="{{r.link}}"><small ng-bind-html="r.link"></small></a>
				</p>
			</div>

		</div>

		<footer class="wrapper">
			<script src="js/libs/angularjs/angular.js"></script>

			<script src="js/libs/angular-ui/angular-ui-ieshiv.js"></script>
			<script src="js/libs/angular-ui/angular-ui.js"></script>
			<script src="js/libs/angularjs/angular-resource.js"></script>
			<script src="js/libs/angularjs/angular-route.js"></script>
			<script src="js/libs/angularjs/angular-sanitize.js"></script>

			<script src="js/app.js"></script>

			<script src="js/scripts.js"></script>
		</footer>
	</body>
</html>